<%= form_for(@protocol) do |f| %>
  <% if @protocol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@protocol.errors.count, "error") %> prohibited this protocol from being saved:</h2>

      <ul>
      <% @protocol.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :attendant_name %><br />
    <%= f.text_field :attendant_name %>
  </div>
  <div class="field">
    <%= f.label :emitted_at %><br />
    <%= f.datetime_select :emitted_at %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
