<h1>Seus protocolos cadastrados</h1>

<table>
  <tr>
    <th>Número</th>
    <th>Nome da(o) Atendente</th>
    <th>Gerado em</th>
    <th>Descricão</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @protocols.each do |protocol| %>
  <tr>
    <td><%= protocol.number %></td>
    <td><%= protocol.attendant_name %></td>
    <td><%= protocol.emitted_at.to_s_br %></td>
    <td><%= protocol.description %></td>
    <td><%= link_to 'Show', protocol %></td>
    <td><%= link_to 'Edit', edit_protocol_path(protocol) %></td>
    <td><%= link_to 'Destroy', protocol, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Protocol', new_protocol_path %>
